/*
|---------------------------------------------------|
|  MÓDULO DE PAGAMENTO AKATUS - TEF / DÉBITO		|
|---------------------------------------------------|
|  Este módulo permite receber pagamentos através   |
|  do gateway de pagamentos Akatus em lojas			|
|   utilizando a plataforma Prestashop				|
|---------------------------------------------------|
|  Desenvolvido por: www.andresa.com.br				|
|					 contato@andresa.com.br			|
|---------------------------------------------------|
*/


/**
 * @author Andresa Martins da Silva
 * @copyright Andresa Web Studio
 * @site http://www.andresa.com.br
 * @version 1.0 Beta
 **/
 
 #cartoes_akatus, #lista_de_parcelas {
	display:block;
	position:relative;
	list-style:none;
	list-style-image:none;
	list-style-type:none;
}
#cartoes_akatus li {
	display:block;
	position:relative;
	float:left;
	width:100px;
	height:60px;
	text-align:center;
	cursor:pointer;
}
#lista_de_parcelas li {
	display:block;
	position:relative;
	float:left;
	width:300px;
	height:30px;
	text-align:left;
	cursor:pointer;
	font-size:14px;
}
.borda_rodape {
	border-bottom:1px dotted #333;
}
#bandeiras_akatus {
	width:600px;
	height:130px;
	display:block;
	position:relative;
	border: none;
	background-color:#fff;
}
#dados_titular_cartao {
	height:330px;
	display:none;
}
#parcelas_akatus
{
	width:600px; height:120px; display:block; position:relative;  border-bottom: 1px solid #ccc; background-color:#fff; margin-top:20px; margin-bottom:10px;
}

#carregando
{
	display:none;
}