<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>akatus</name>
            <displayName><![CDATA[Akatus - Cart&otilde;es de Cr&eacute;dito]]></displayName>
            <version><![CDATA[1.0 Beta]]></version>
            <description><![CDATA[Permite receber pagamentos com cart&atilde;o de cr&eacute;dito atrav&eacute;s do gateway Akatus]]></description>
            <author><![CDATA[www.andresa.com.br]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Tem certeza de que pretende eliminar os seus dados?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>